<!DOCTYPE html>
<html>
  <head>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="javascripts/private_zone.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>


  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style type="text/css">
    html, body {
      height: 100%;
      }

    #load-screen {
  width: 100%;
  height: 100%;
  background-color:black; 
  background: url("/images/loading_trans.gif") no-repeat center center #fff;
  position: fixed;
  opacity: 1;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
  </style>
  </head>
  <body style="padding:0px">
<div id="load-screen" style="display:true"></div>
<!--       <div class="container"> -->
       <!--  <nav> -->

        <div class="row" style="background-color:white">
          <div class="col m3">

          </div>
          <div class="col m6" style="background-color:white">
                    <br>
              <img src="images/escudo_unam_azul.png"   width="100%" height="100%">
            <br>
            <br>
          </div>
        <div class="col m3" style="background-color:white">
          </div>
        </div>
        <div class="row" style="background-color:#4286f4; text-align: center;vertical-align: middle;" width="100%" height="100%">
          <div class="col m12">
            <br>
            <br>
            <h2 style="color:white;" >Select a video</h2>
            <br>
          </div>
          
        </div>
     <!--  </nav> -->
      <br>
      <br>


<div class="row" id="videoListWrapper">
<!--  <div class="divider"></div>
  <div class="section" >
    <div class="row" id="section_cemie_sol">
      <div class="col s4" >
        <img src="images/cemie_sol.png"   width="100%" height="100%">
      </div>
      <div class="col s8">
          <h3 style="font-weight: bold">CeMIE Sol</h3>
      </div>

    </div>
  </div>

 <div class="divider"></div>
  <div class="section" >
    <div class="row" id="section_apprendoestructofa">
      <div class="col s4" >
        <img src="images/apprendoestructofa.png"   width="100%" height="100%">
      </div>
      <div class="col s8">
          <h3 style="font-weight: bold">Apprendoestructo</h3>
      </div>

    </div>
  </div> -->
</div>

  <div id="audioSection" style="display: none">
    <!--       <audio class="audio" controls id="audio_cemie_sol" style="visibility:hidden">
        <source src="/audio/cemie_sol.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>

      <audio class="audio" controls id="audio_apprendoestructofa" style="visibility:hidden">
        <source src="/audio/apprendoestructofa.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio> -->
  </div>



    <div id="myNav" class="overlay">
<!--       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
<!--       <div class="overlay-content" id="navWrapper"> -->
        <br>
            <div class="row" id="returnToList">
              <div class="col m12" onclick="closeNav()">
              <div class="modal-action modal-close" id="return" style="height: 70%; width:100%; background-color:#c0392b; text-align: center">
                  
                <br> 
                 <h1 style="color:white">Return</h1>
                 <br> 
               </div>
              </div>
            </div>
        <div class="row" style="background-color:#121e30">

          <div id="videoImageWrapper" class="col m12" style="background-color:#121e30">
       
              <img id="videoImage" src="images/escudo_unam_azul.png"   width="100%" height="100%">
          </div>
        </div>
        <div id="infoVideo" class="row" style="margin-left: 30px">

              <div class="col m10" >
              <p style="color:#afffcb; font-size: 50px" id="videoName"></p>
              </div>
              <div class="col m2" >
                  <p id="videoDuration" style="color:#82ffad; font-size: 50px;background-color: "></p>
              </div>
        </div>
        <div id="navOptionsWrapper" >
    
            <div class="row">
              <div class="col m6">
              <div  id="playHere" style="height: 100%; width:100%; background-color:#2980b9; text-align: center">
                  
                <br> 
                 <h2 style="color:white">Play here</h2>
                 <br> 
               </div>
              </div>
              <div class="col m6">
              <div id="playVideowall" style="height: 100%; width:100%; background-color:#1abc9c; text-align: center">
                  
                <br> 
                 <h2 style="color:white">Play on videowall</h2>
                 <br> 
               </div>
              </div>
            </div>
            <div class="row" style="margin-left: 30px">
              <div class="col m12" >
              <p align="justify"  style="color:white; font-size: 40px" > <span id="videoDescription" ></span></p>
              </div>
            </div>
        </div> <!-- https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1 -->
<!--              <iframe id="videoIframe" style="display: none" src="" width="100%" height="70%" frameborder="0" allowfullscreen="allowfullscreen"></iframe> -->
<iframe id="videoIframe" width="100%" height="70%" src="" frameborder="0" allowfullscreen></iframe>
<!--         VIDEO WALL OPTIONS   -->
      <div id="videoWallOptions" style="Display:none">

            <div class="row" style="margin-left: 30px">
              <p style="color:white; font-size: 40px" >Select the screen where you would like to watch the video:</p>
              
            </div>
            <div class="row" >
              <div class="col m12" >
              <div  id="optionFullScreen" style=": 100%; width:100%; background-color:#9b59b6; text-align: center">
                  
                <br> 
                 <h1 style="color:white">Full Screen</h1>
                 <br> 
               </div>
              </div>
            </div>
            <div class="row">
              <div class="col m6">
              <div id="screen1Option" class="playBtn" style="height: 100%; width:100%; background-color:#1abc9c; text-align: center">
                <br> 
                 <h2 style="color:white">Screen 1</h2>
                 <br> 
               </div>
              </div>
              <div class="col m6">
              <div  id="screen2Option" class="playBtn" style="height: 100%; width:100%; background-color:#1abc9c; text-align: center">
                  
                <br> 
                 <h2 style="color:white">Screen 2</h2>
                 <br> 
               </div>
              </div>
            </div>
            <div class="row">
              <div class="col m6">
              <div id="screen3Option" class="playBtn" style="height: 100%; width:100%; background-color:#1abc9c; text-align: center">
                <br> 
                 <h2 style="color:white">Screen 3</h2>
                 <br> 
               </div>
              </div>
              <div class="col m6">
              <div  id="screen4Option" class="playBtn" style="height: 100%; width:100%; background-color:#1abc9c; text-align: center">
                <br> 
                 <h2 style="color:white">Screen 4</h2>
                 <br> 
               </div>
              </div>
            </div>
        </div>

            <br>
            <br>
            <br>


           <!--                videoIsPlaying -->
            <div class="row" style="Display:none" id="videoIsPlaying">
              <div class="col m12">

             <!--  pendiente poner loading -->
              <h1 style="color:white">Your video is playing on <span id="screenPlayingVideo">...</span></h1>
              <h1 id="turnUpVolume" style="color:#2ecc71">Turn up your volume</h1>

              <br>
              <br>
              <br>
            <div class="row">
              <div class="col m12">
              <div class="modal-action modal-close" id="quitVideo" style="height: 100%; width:100%; background-color:#c0392b; text-align: center">
                  
                <br> 
                 <h1 style="color:white">Quit video</h1>
                 <br> 
               </div>
              </div>

            </div>
    </div>
  </div>


    </div>

  </body>
</html>
