<!DOCTYPE html>
<html>
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="javascripts/private_zone.js"></script>
	<!-- Compiled and minified CSS -->
  <link rel="shortcut icon" href="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>


	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<style type="text/css">
		html, body {
	    height: 100%;
    	}


/*      .modal{
        display:block;
        width: 100vw;
        height: 100vh;
      }*/

	/*html, body { height: 100%; padding: 0; margin: 0; }
	div { width: 50%; height: 50%; float: left; }
	#div1 { background: #DDD; }
	#div2 { background: #AAA; }
	#div3 { background: #777; }
	#div4 { background: #444; }*/
/*html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: #DDD; }
#div2 { background: #AAA; }
#div3 { background: #777; }
#div4 { background: #444; }*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
	</style>
  </head>
  <body style="padding:0px">

<!--       <div class="container"> -->
	     <!--  <nav> -->
		    <div class="row card-panel  lighten-2" style="height: 170; background-color:#00235b">
		      <div class="col m3">
              <img src="images/escudo_unam_blanco.png"   width="100%" height="100%">
          </div>
          <div class="col m9">
            <br>
            <br>
            <h1 style="color:#ffc935; margin-left: 40px" >Select a video to watch in the Videowall</h1>
          </div>
		      
		  
		    </div>
		 <!--  </nav> -->
		  <br>
		  <br>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header" > <!-- style="border-bottom: solid; border-width: 3px; border-color: #00235b;" -->
                <div  class="row"  style="width:100%" >
                <div class="col m12 l6 s12  ">
                  <img src="images/cover_video_1.png"   width="100%" height="500px">
                </div>
                <div class="col m12 l6 s12 ">
                <br>
                  <h2 style="font-weight: bold">ResinaAntiflama_IIM</h2>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
              <h2>Duración 01:42</h2>
              <h2>(Descripción) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h2>
              <div id="selectVideo1"lass="row" style="width:100%; background: #4286f4; text-align:center">
                <br>
                <h1 style="color:white">Play</h1>
                <br>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header" > <!-- style="border-bottom: solid; border-width: 3px; border-color: #00235b;" -->
              <div  class="row"  style="width: 100%">
                <div class="col m12 l6 s12">
                  <img src="images/cover_video_2.png"   width="100%" height="500px">
                </div>
                <div class="col m12 l6 s12">
                  <h2 style="font-weight: bold">RecursosdelMar_ICML</h2>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
              <h2>Duración: 03:26</h2>
              <h2>(Descripción) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h2>
              <div id="selectVideo2" class="row" style="width:100%; background: #4286f4; text-align:center">
                <br>
                <h1 style="color:white">Play</h1>
                <br>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header" > <!-- style="border-bottom: solid; border-width: 3px; border-color: #00235b;" -->
              <div  class="row"  style="width: 100%">
                <div class="col m12 l6 s12">
                  <img src="images/cover_video_3.png"   width="100%" height="500px">
                </div>
                <div class="col m12 l6 s12">
                  <h2 style="font-weight: bold">Trailer Laboratorios Nacionales_CIC</h2>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
              <h2>Duración: xx:xx</h2>
              <h2>(Descripción) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h2>
              <div id="selectVideo3" class="row" style="width:100%; background: #4286f4; text-align:center">
                <br>
                <h1 style="color:white">Play</h1>
                <br>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header" > <!-- style="border-bottom: solid; border-width: 3px; border-color: #959faf;" -->
              <div  class="row"  style="width: 100%">
                <div class="col m12 l6 s12">
                  <img src="images/cover_video_4.png"   width="100%" height="500px">
                </div>
                <div class="col m12 l6 s12">
                  <h2 style="font-weight: bold">TecnologiaHelmintos_IING</h2>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
              <h2>Duración: xx:xx</h2>
              <h2>(Descripción) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h2>
              <div id="selectVideo4" class="row" style="width:100%; background: #4286f4; text-align:center">
                <br>
                <h1 style="color:white">Play</h1>
                <br>
              </div>
            </div>
          </li>
        </ul>
        


      <!-- </div> -->


      <!-- Modal Structure -->
      <div id="selectScreenModal" class="modal" style="height:90%; width: 100%" >
        <div class="modal-content"  style="height:90%; width: 100%">
            <h4>Select the screen</h4>
            <div class="row">
              <div class="col m6">
                <div class="modal-action modal-close" id="optionFullScreen" style="height: 100px; width:100%; background-color: #00e676; text-align: center">
                 <br>  
                 <h1 style="color:white">Full Screen</h1></div>
              </div>
              <div class="col m6">
            <div class="modal-action modal-close" id="optionPlayhere" style="height: 100px; width:100%; background-color: #00bcd4; text-align: center">
                 <br>  
                 <h1 style="color:white">Play here</h1></div>
              </div>

            </div>
              <div style="height:80%;width:90%">
                <div class="row" style="height:100%;margin-bottom: 0px">
                  <div class="row" style="height:50%; margin-bottom: 0px; margin-top: 0px">
                    <div  class="col s6" id="div1" style="height:100%; ;margin-bottom: 0px;border-style: solid; border-width: 1px; border-color:#959faf" >                
                    <!-- modal-action modal-close -->                                      
                       <img  class="playBtn modal-action modal-close" id="screen1Option" src="images/play_btn2.png" width="80%" height="80%">
                       <!-- <a  class="waves-effect waves-light btn" style="background-color: #ab47bc">Screen 1</a> -->
                    </div>
                    <div  class="col s6" id="div2"  style="height:100%; margin-bottom: 0px;border-style: solid; border-width: 1px; border-color:#959faf">              
                    <!-- modal-action modal-close -->                                    
                     <img  class="playBtn modal-action modal-close" id="screen2Option" src="images/play_btn2.png" width="80%" height="80%">
                     <!-- <a  class="waves-effect waves-light btn" style="background-color: #ab47bc">Screen 2</a>      -->
                    </div>        
                  </div>
                  <div class="row" style="height:50%; margin-bottom: 0px; margin-top: 0px">
                      <div  class="col s6" id="div3" style="height:100%; margin-bottom: 0px;border-style: solid; border-width: 1px; border-color:#959faf">              
                      <!-- modal-action modal-close -->                                        
                       <img  class="playBtn modal-action modal-close" id="screen3Option" src="images/play_btn2.png" width="80%" height="80%">
                       <!-- <a  class="waves-effect waves-light btn" style="background-color: #ab47bc">Screen 3</a>         -->
                    </div>
                    <div  class="col s6" id="div4" style="height:100%; margin-bottom: 0px;border-style: solid; border-width: 1px; border-color:#959faf">              
                    <!-- modal-action modal-close -->                                    
                     <img  class="playBtn modal-action modal-close" id="screen4Option" src="images/play_btn2.png" width="80%" height="80%">
                     <!-- <a  class="waves-effect waves-light btn" style="background-color: #ab47bc">Screen 4</a>        -->
                    </div>        
                  </div>
              </div>
            </div>



        </div>
        <div class="modal-footer">
          <div class="row">
               <div id="optionFullScreen" class="modal-action modal-close" style="height: 100px; width:100%; background-color: #ef5350; text-align: center">
              <br> 
               <h1 style="color:white">Return</h1>
             </div>
            </div>
        </div>


        <!-- audio taken from unam server -->
      <audio class="audio" controls id="video1_audio" style="visibility:hidden">
        <source src="http://132.248.177.14:3005/audio/video1_audio.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      <!-- audio taken from unam server -->
      <audio class="audio" controls id="video2_audio" style="visibility:hidden">
        <source src="http://132.248.177.14:3005/audio/video2_audio.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      <!-- audio taken from unam server -->
      <audio class="audio" controls id="video3_audio" style="visibility:hidden">
        <source src="http://132.248.177.14:3005/audio/video3_audio.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      <!-- audio taken from unam server -->
      <audio class="audio" controls id="video4_audio" style="visibility:hidden">
        <source src="http://132.248.177.14:3005/audio/video4_audio.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      </div> 

  <div id="myNav" class="overlay">
<!--     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <div class="overlay-content">
<div class="row">
              <div class="col m12">

             <!--  pendiente poner loading -->
              <h1 style="color:white">Your video is playing on <span id="screenPlayingVideo">...</span></h1>
              <h1 id="turnUpVolume" style="color:#2ecc71">Turn up your volume</h1>

              <br>
              <br>
              <br>
            <div class="row">
              <div class="col m12">
              <div class="modal-action modal-close" id="quitVideo" style="height: 100%; width:100%; background-color:#c0392b; text-align: center">
                  
                <br> 
                 <h1 style="color:white">Quit video</h1>
                 <br> 
               </div>
              </div>

            </div>
    </div>
  </div>

  </body>
</html>
