
 <!DOCTYPE html>
<html>

<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<!--   <script src="/javascripts/.js"></script> -->

<!-- pendiente: meter en su propio codigo -->
<style type="text/css"> 
	html, body {
    height: 100%;
    background-color: black
}

/*html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: #DDD; }
#div2 { background: #AAA; }
#div3 { background: #777; }
#div4 { background: #444; }*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
</style>

</head>


<body>
<!-- <marquee style="background-color:black;color:white"><h5>This text will scroll from right to left</h5></marquee> -->

<!-- <button id="btnPlay">Play all</button>
<button id="btnStop">Stop all</button>
<button style="display: none" id="fullScreen">Full Screen</button>
<button id="changeContent">Cambiar contenido</button> -->

    <div id="wrapper" style="height: 100%; width: 100%">
    <div id="fourScreensContainer" style="height: 100%; width: 100%; background-color:white" >
    <div class="row" style="height:100%;margin-bottom: 0px">
    	<div class="row" style="height:50%; margin-bottom: 0px; margin-top: 0px">
    	<div class="col s6" id="screen1" style="height:100%; ;margin-bottom: 0px;border-style: solid; background-color:black " >
<!--          <br>
          <br>
          <h1>Screen 1</h1> -->
<!--          <video controls loop autoplay id="vid1" width="100%" height="100%" controls>
          <source src="./videos/HD/video1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>  -->
<!--     <div id="car1" class="carousel carousel-slider" style="height: 100%;width: 100%" >

    </div> -->

    <img id="screen1_image1" style="height: 100%;width: 100%" src="/images/escudo_unam_azul.jpg">
    <img id="screen1_image2" style="height: 100%;width: 100%; display:none" src="/images/escudo_unam_azul.jpg">

    		</div>
    		<div class="col s6" id="screen2"  style="height:100%; margin-bottom: 0px;border-style: solid; background-color:black ">

    <img id="screen2_image1" style="height: 100%;width: 100%" src="/images/escudo_unam_azul.jpg">
    <img id="screen2_image2" style="height: 100%;width: 100%; display:none" src="/images/escudo_unam_azul.jpg">


<!--     <div id="car2" class="carousel carousel-slider" style="height: 100%;width: 100%" >

    </div> -->

    			<!-- <br>
    			<br>
    			<h1>Screen 2</h1> -->
<!--     			<video controls loop autoplay id="vid2" width="100%" height="100%" controls>
				  <source src="./videos/HD/video2.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>   -->   			
    		</div>    		
    	</div>
    	<div class="row" style="height:50%; margin-bottom: 0px; margin-top: 0px">
       		<div class="col s6" id="screen3" style="height:100%; margin-bottom: 0px;border-style: solid; background-color:black ">
    <img id="screen3_image1" style="height: 100%;width: 100%" src="/images/escudo_unam_azul.jpg">
    <img id="screen3_image2" style="height: 100%;width: 100%; display:none" src="/images/escudo_unam_azul.jpg">

<!-- 
    <div id="car3" class="carousel carousel-slider" style="height: 100%;width: 100%" >

    </div> -->

       			<!-- <br>
       			<br>
       			<h1>Screen 3</h1> -->
<!--     			<video controls loop autoplay id="vid3" width="100%" height="100%" controls>
				  <source src="./videos/HD/video3.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>    -->  			
    		</div>
    		<div class="col s6" id="screen4" style="height:100%; margin-bottom: 0px;border-style: solid; background-color:black ">
    <img id="screen4_image1" style="height: 100%;width: 100%" src="/images/escudo_unam_azul.jpg">
    <img id="screen4_image2" style="height: 100%;width: 100%; display:none" src="/images/escudo_unam_azul.jpg">

<!--     <div id="car4" class="carousel carousel-slider" style="height: 100%;width: 100%" >

    </div> -->

    			<!-- <br>
    			<br>
    			<h1>Screen 4</h1> -->
<!--     			<video controls loop autoplay id="vid4" width="100%" height="100%" controls>
				  <source src="./videos/HD/video4.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>    -->  			
    		</div>    		
    	</div>

    </div>



<!-- <p><strong>Note:</strong> The  video tag is not supported in Internet Explorer 8 and earlier versions.</p>
 -->
</div>
    <div id="fullScreen" style="height: 100%; width: 100%; background-color:black">
<!--       <br>
      <br>
      <br>
      <br>
      <br> -->
          <img id="fullScreen_image1" style="height: 100%;width: 100%" src="/images/powered_by_adef.jpg">
    <img id="fullScren_image2" style="height: 100%;width: 100%; display:none" src="/images/powered_by_adef.jpg">
<!--       <h1 style="color:white"> FULL SCREEN VIDEO</h1> -->
    </div>
</div> 


      <!-- Modal Structure -->
      <div id="optionsModal" class="modal" style="height:100%; width: 100%" >
        <div class="modal-content"  style="height:100%; width: 100%">
            <h4>Select option</h4>
            <div class="row">
              <div class="col m6">

              <div class="modal-action modal-close" id="optionFullScreen" style="height: 100px; width:100%; background-color: #7c4dff; text-align: center">
                <br> 
                 <h1 style="color:white">1 Screen</h1>
               </div>      
              </div>
              <div class="col m6">
                            <div class="row">
               <div class="modal-action modal-close" id="option4Screen" style="height: 100px; width:100%; background-color: #42a5f5; text-align: center">
                
              <br> 
               <h1 style="color:white">4 Screens</h1></div>
            </div>
             </div>

            </div>

            <div class="row">
              <div class="col m6">
              <div class="modal-action modal-close" id="optionClearAll" style="height: 100px; width:100%; background-color: #4caf50; text-align: center">
                  
                <br> 
                 <h1 style="color:white">Clear all</h1>
               </div>
              </div>
              <div class="col m6">
                <div class="row">
                  <div class="modal-action modal-close" id="optionStopAll" style="height: 100px; width:100%; background-color: #dd2c00; text-align: center">
                    
                  <br> 
                   <h1 style="color:white">Stop All</h1></div>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col m6">
                <div class="modal-action modal-close" id="optionResumeAll" style="height: 100px; width:100%; background-color: #ffff00; text-align: center">
                  
                <br> 
                 <h1 style="color:white">Resume All</h1>
               </div>
              </div>
              <div class="col m6">
                  <div class="modal-action modal-close" id="optionFullScreenMode" style="height: 100px; width:100%; background-color: #1a237e ; text-align: center">
                    
                  <br> 
                   <h1 style="color:white">FullScreen</h1>
                 </div>
                </div>
            </div>
            <br>
          <div class="row">
            <div class="modal-action modal-close" style="height: 100%; width:100%; background-color: #ef5350; text-align: center">
  
              <br>
               <h1 style="color:white">Return</h1>
  
             </div>
            </div>
        </div>
<!--         <div class="modal-footer">
          
        </div> -->
      </div>



</body>


<script type="text/javascript" src="javascripts/full_screen_script.js"></script>
<script type="text/javascript" src="javascripts/public_zone.js"></script>
</html>
